*{
    margin: 0; padding: 0;
}
.grid_center{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 4fr;
}
.detail_head{
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
}
.detail_main{
    padding: 5px;
    background-color: #373b3e;
    color: rgba(255, 255, 255, 0.7);
}
a{
    text-decoration: none;
}
.head{
    min-width: fit-content; height: 30px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(20, 20, 20);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}
h1{
    color: rgba(50, 50, 50,0.7);
    text-shadow: 2px 2px 4px black;
}